.loader{
    position:fixed;
    inset:0;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#050505;

    z-index:9999;
}

.loader__content{

    width:min(420px,80vw);

}

.loader__status{

    font-size:.75rem;
    letter-spacing:.3rem;

    color:#888;

    margin-bottom:1rem;

}

.loader__bar{

    height:2px;

    width:100%;

    background:#222;

    overflow:hidden;

}

.loader__progress{

    width:100%;
    height:100%;

    background:white;

    transform:translateX(-100%);

    animation:boot 2s linear forwards;

}

.loader__message{

    margin-top:1rem;

    color:#888;

    font-size:.8rem;

}

@keyframes boot{

    to{

        transform:translateX(0);

    }

}