.desktop{

    width:100%;
    min-height:100vh;

    display:flex;

    align-items:center;

    padding-left:8vw;

    background:var(--color-bg);

}

.desktop-icons{

    display:flex;

    flex-direction:column;

    gap:1rem;

}