.desktop {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--color-bg);

  opacity: 0;
  transform: scale(0.98);

  transition:
    opacity 800ms ease,
    transform 800ms ease;
}

.desktop--visible {
  opacity: 1;
  transform: scale(1);
}